*{margin:0;padding:0;}
body{
	font-family:sans-sarif, Arial !Important;
	-webkit-transition:all 0.5s easy;
	transition:all 0.5s easy;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	margin-top:15px;
	margin-bottom:15px;
	margin-bottom:15px;
}
p{
	line-height:150%;
	margin-bottom:2em;
}
a{
	text-decoration:none;
}
.fix{
	overflow:hidden;
}

.container_full{
	width:100%;
}
.container{
	width:980px;
	display:block;
	margin:0 auto;
	
}
.header_bg{
	background:#292929;
}
.header_bg #logo_left{
	float:left;
}
.header_bg #logo_left h1{
	font-family:arial;
	font-weight:bold;
	font-size:50px;
	color:#fff;
	padding-top:30px;
}
#header>nav{
	float:right;
}
#header>nav #drop{
	list-style:none;
}
#header>nav #drop li{
	float:left;
	border-right:1px solid #1d1d1d;
}
#header>nav #drop li:first-child{
	border-left:1px solid #1d1d1d;
}
#header>nav #drop li a{
	font-family:arial;
	font-weight:bold;
	font-size:25px;
	color:#fff;
	padding:50px 30px;
	display:block;
	border-bottom:5px solid #1e1e1e;
}
#header>nav #drop li a:hover{
	color:#ff8000;
	border-bottom:5px solid #ff8000;
}
#header>nav #drop li.active a{
	color:#ff8000;
	border-bottom:5px solid #ff8000;
}
.content_wrapper_bg{
	border-top:5px solid #1e1e1e;
	margin-top:-5px;
	border-bottom:1px solid #1e1e1e;
}
#content_wrapper{
	border-left:1px solid #1e1e1e;
	border-right:1px solid #1e1e1e;
	padding-top:75px;
	overflow:hidden;
}
#left_content{
	width:620px;
	margin-right:70px;
	float:left;
}
#left_content #single_post_wrapper img{
	width:620px;
	height:308px;
	
}
#left_content #single_post_wrapper h2{
	font-family:arial;
	font-weight:bold;
	font-size:24px;
	color:#4f4e4e;
	padding-top:15px;
	padding-left:20px;
	text-transform:uppercase;
}
#left_content #single_post_wrapper p{
	font-family:arial;
	font-size:16px;
	color:#4f4e4e;
	padding-top:15px;
	padding-left:20px;
	
}
#left_content #single_post_wrapper #continue_r{
	font-family:arial;
	font-size:18px;
	color:#4f4e4e;
	padding:10px;
	border:1px solid #4f4e4e;
	display:inline-block;
	border-radius:28px;
	margin-left:15px;
	margin-bottom:20px;
	
}
#left_content #single_post_wrapper #continue_r:hover{
	color:#6600ff;
	border:1px solid #ed7211;
	
}
#left_content #single_post_wrapper{
	margin-bottom:80px;
	overflow:hidden;
}
#sidebar{
	float:right;
	width:280px;
}
#sidebar #sidebar_bg h2{
	text-transform:uppercase;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	color:#6c6969;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:15px;
	border-left:3px solid #58c93a;
	margin-bottom:30px;
	overflow:hidden;
	
}
#sidebar #sidebar_bg p{
	font-family:arial;
	font-size:16px;
	color:#6c6969;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:15px;
	margin-bottom:30px;
	
}
#sidebar #sidebar_bg #box{
	font-family:arial;
	font-size:20px;
	padding-left:20px;
	width:260px;
	height:49px;
	margin-left:20px;
	float:right;
	border:1px solid #5c5959;
	border-right:none;
	margin-bottom:50px;
	overflow:hidden;
	
}
.email_submit{
	position:relative;
}
.email_submit input{
	width:279px;
	height:50px;
	border:1px solid #4e1010;
	border-right:none;
	padding:0 10px;
	
}
.email_submit input[type="submit"] {
    width: 24px;
    height: 24px;
    border: none;
    background: url(images/icon.png)no-repeat;
    float: right;
    position: absolute;
    text-indent: -9999999px;
    cursor: pointer;
    top: 13px;
    right: 25px;
	
}
#content_bottom{
	border-top:1px solid #1e1e1e;
	border-left:1px solid #1e1e1e;
	border-right:1px solid #1e1e1e;
	padding:20px 10px;
	overflow:hidden;
}
#content_bottom #previous{
	float:left;
	text-transform:uppercase;
	color:#1e1e1e;
	font-weight:bold;
	
} 
#content_bottom #next{
	float:right;
	text-transform:uppercase;
	color:#1e1e1e;
	font-weight:bold;
	
}
#footer{
	text-align:center;
	margin-top:50px;
	margin-bottom:50px;
}
#footer>h1{
	font-family:arial;
	font-weight:bold;
	font-size:40px;
	color:#292929;
}
#footer>p{
	font-family:arial;
	font-size:13px;
	color:#a6a6a6;
	
}
#footer #social_area ul{
	list-style:none;
}
#footer #social_area ul li{
	display:inline-block;
	margin:0 10px;
}
#footer #social_area ul li#fb a{
	display:block;
	width:40px;
	height:40px;
	background:url(images/fb1.png)no-repeat;
}
#footer #social_area ul li#fb:hover a{
	background:url(images/fb.png)no-repeat;
}
#footer #social_area ul li#tw a{
	display:block;
	width:40px;
	height:40px;
	background:url(images/Tw1.png)no-repeat;
}
#footer #social_area ul li#tw:hover a{
	background:url(images/Tw.png)no-repeat;
}
#footer #social_area ul li#be a{
	display:block;
	width:40px;
	height:40px;
	background:url(images/Be1.png)no-repeat;
}
#footer #social_area ul li#be:hover a{
	background:url(images/Be.png)no-repeat;
}
#footer #social_area ul li#st a{
	display:block;
	width:40px;
	height:40px;
	background:url(images/Don1.png)no-repeat;
}
#footer #social_area ul li#st:hover a{
	background:url(images/Don.png)no-repeat;
}